* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}



/* 上方導覽列的 CSS */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    // 將 header nav bar 定在視窗上方的設定
    position: sticky;
    top: 0;
    
    // 調整背景色＆移至最上層避免被 main 的圖片覆蓋
    background-color: white;
    z-index: 5;

    // 為避免跟第二頁的背景色搞混，設定 box-shadow
    // 設定 Dynamic header 故把 box-shadow 註解
    // box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    // 為了 Dynamic Header 所做的動畫，讓顏色不要這麼跳 tone
    transition: all 0.5s ease;


    div.logo {
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;
        img {
            width: 6vw;
            height: 6vw;
        }
    }
    
    nav {
        flex: 2 1 400px;
        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-around;
        }
        li {
            a {
                text-decoration: none;
                color: #09A8BE;
                font-size: 1.25rem;
            }
        }
    }
}

@media screen and (max-width:550px ) {
    header {
        font-size: 0.8rem;
        div.logo {
            margin-left: 0.5rem;
            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
}




main {
    /* 首頁大圖片的 CSS part */
    section.backImage {
        min-height: 90vh;
        width: 100%;
        background-image: url("../Pictures/pexels-photo-416676.jpeg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;

        /* h3 & button 的位置設定 */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;


        /* h3 & button 的樣式設定 */
        h3 {
            color: white;
            font-size: 3.5rem;
            margin: 2rem 0rem;
        }

        button.start {
            background-color: #00D9E7;
            padding: 0.75rem 1.5rem;
            font-size: 1.5rem;
            color: white;
            border: none;
            border-radius: 0.75rem;
            cursor:  pointer;

        }



        div.filter {
            background-color: rgba(0,0,0,0.2); 
            min-height: 90vh;
            width: 100%;
            position: absolute;
            z-index: -1;
        }

    }


    /* 第二頁服務介紹 */
    section.second {
        // min-height: 100vh;
        // 上面的 min-height 註解掉是因為要讓瀏覽器自己去決定他的高度
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
            font-size: 2rem;
            margin: 2.5rem 1rem;
            // text-align: center;
        }

        section.cards {
            // border: 2px solid red; //要註解掉～～～
            display: flex;
            width: 80%;

            // height: 80vh;
            //這邊若不設成 min-height 的話，footer 的內容會卡在中間
            min-height: 80vh;
            flex-wrap: wrap; //DO NOT FORGET !!!

            div.card {
                // border: 2px solid blue;  //要註解掉～～～
                display: flex;
                
                flex-direction: column;
                align-items: center;

                justify-content: space-around;
                padding: 1rem;
                flex: 1 1 300px;
                
                //設定圖片效果，所以給它一個 container
                div.img-container {
                    overflow: hidden;
                    border-radius: 50%;
                    width: 15vw;
                    height: 15vw;

                    img {
                        border-radius: 50%;
                        width: 15vw;
                        height: 15vw;
                        
                        transition: all 0.3s; // 動畫效果，慢慢放大
                        //margin: 1rem 0rem;  //=> for 圖片效果 so 註解掉 否則會變形。
                    }

                    img:hover {
                        transform: scale(1.2);
                    }
                }

                h4 {
                    font-size: 1.25rem;
                    margin: 1rem 0rem;
                }

                p {
                    font-size: 1rem;
                }

                a {
                    text-decoration: none;
                    padding: 1rem;
                    background-color: #00D9E7;
                    color: white;
                    font-size: 1.25rem;
                    margin: 1rem 0rem;
                    border-radius: 15%;
                }

            }

        }

    }

}

@media screen and (max-width: 745px) {
    main {
        section.second {
            section.cards {
                div.card {
                    img {
                        border-radius: 50%;
                        width: 50vw;
                        height: 50vw;
                    }
                }
            }
        }
    }
}



footer {
    // // ** 自己寫的程式碼 ##
    // background-color: rgba(166, 218, 214, 0.788);
    // height: 20%;
    // display: flex;
    // flex-direction: column;
    // padding: 1rem;


    // 老師的範例
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh; // 40vh;
    justify-content: space-around;
    background-color: rgba(206, 206, 206, 0.726);


    

    // // ## 自己寫的程式碼 ##
    // div {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
        
    //     img {
    //         width: 10vh;
    //         height: 10vh;
    //     }

    //     h5 {
    //         font-size: 1.5rem;
    //     }
    // }


    // 老師的範例
    div.logo {
        display: flex;
        //justify-content: center;
        align-items: center;
        img {
            width: 5vw;
            height: 5vw;
        }

        h5 {
            font-size: 1.5rem;
        }
    }



    // // ** 自己寫的程式碼 ##
    // nav {
    //     ul {
    //         display: flex;
    //         list-style-type: none;
    //         justify-content: center;

    //         li {
    //             a {
    //                 color: rgb(22, 170, 158);
    //                 font-size: 1rem;
    //                 padding: 1rem;
    //                 text-decoration: none;
    //             }
    //         }
    //     }
    // }


    // 老師的範例
    nav {
        width: 30%; // 這樣才會置中，排版才不會走位(參考159)

        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                flex-basis: 100px;
                display: flex;
                justify-content: center;
                a {
                    color: rgb(22, 170, 158);
                    font-size: 1rem;
                    //padding: 1rem;
                    text-decoration: none;
                }
            }
        }
    }

    // // ** 自己寫的程式碼 **
    // section.links {
    //     display: flex;
    //     justify-content: center;

    //     img {
    //         // border: 2px solid blue;
    //         width: 5vh;
    //         height: 5vh;
    //         margin: 1.5rem 1rem 0rem 1rem;
    //     }
    // }

    // 老師的範例
    section.links {
        a {
            margin: 0rem 1rem;
            img {
                width: 3vw;
                height: 3vw;
            }
        }
    }   
}



@media screen and (max-width: 550px) {
    // 這邊是設定 footer 在螢幕寬度變小時，logo 大小不會越變越小
    footer {
        div.logo {
            img {
                width: 10vw;
                height: 10vw;
            }
        }
    }

    section.links {
        a {
            img {
                width: 15vw;
                height: 15vw;
            }
        }
    }
}


// ### 這邊是客製化 Scrollbar 效果的部分 ###
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;  
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #09A8BE;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(22, 230, 245); 
}





// ### ### ### ### ### ### ### ### // 
// 自己另外製作的 footer
// footer {
//     background-color: #C7F7FE;
//     width: 100%;
//     height: 10vh;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;

//     div.footerLogo {
//         display: flex;
//         align-items: center;
        
//         img {
//             width: 5vw;
//             height: 5vw;
//             margin: 0.5rem 0rem 0.5rem 0.5rem;
//         }

//         h5 {
//             color: #0083CD;
//             font-size: 1.25rem;
//         }
//     }


//     div.link {
//         display: flex;
//         ul {
//             display: flex;
//             align-items: center;
//             list-style-type: none;
//             li {
//                 a {
//                     text-decoration: none;
//                     font-size: 1.25rem;
//                     color: #0083CD;
//                     margin: 0rem 0.5rem;
//                 }
//             }
//         }
//     }


//     div.icons {
//         display: flex;
//         align-items: center;

//         img {
//             margin: 0.5rem;
//             width: 2vw;
//             height: 2vw;
//         }
//     }
// }

