@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 上方導覽列的 CSS */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
  margin-left: 2rem;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav li a {
  text-decoration: none;
  color: #09A8BE;
  font-size: 1.25rem;
}

@media screen and (max-width: 550px) {
  header {
    font-size: 0.8rem;
  }
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
}

main {
  /* 首頁大圖片的 CSS part */
  /* 第二頁服務介紹 */
}

main section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url("../Pictures/pexels-photo-416676.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  /* h3 & button 的位置設定 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  /* h3 & button 的樣式設定 */
}

main section.backImage h3 {
  color: white;
  font-size: 3.5rem;
  margin: 2rem 0rem;
}

main section.backImage button.start {
  background-color: #00D9E7;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 90vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

main section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main section.second h3 {
  font-size: 2rem;
  margin: 2.5rem 1rem;
}

main section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

main section.second section.cards div.card div.img-container {
  overflow: hidden;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}

main section.second section.cards div.card div.img-container img {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main section.second section.cards div.card div.img-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.second section.cards div.card h4 {
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

main section.second section.cards div.card p {
  font-size: 1rem;
}

main section.second section.cards div.card a {
  text-decoration: none;
  padding: 1rem;
  background-color: #00D9E7;
  color: white;
  font-size: 1.25rem;
  margin: 1rem 0rem;
  border-radius: 15%;
}

@media screen and (max-width: 745px) {
  main section.second section.cards div.card img {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(206, 206, 206, 0.726);
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.logo img {
  width: 5vw;
  height: 5vw;
}

footer div.logo h5 {
  font-size: 1.5rem;
}

footer nav {
  width: 30%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer nav ul li {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul li a {
  color: #16aa9e;
  font-size: 1rem;
  text-decoration: none;
}

footer section.links a {
  margin: 0rem 1rem;
}

footer section.links a img {
  width: 3vw;
  height: 3vw;
}

@media screen and (max-width: 550px) {
  footer div.logo img {
    width: 10vw;
    height: 10vw;
  }
  section.links a img {
    width: 15vw;
    height: 15vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09A8BE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16e6f5;
}
/*# sourceMappingURL=style.css.map */