* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Google fonts 的放置區域 */
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    position: relative;
}

.yellow {
    position: absolute;
    top: -35vh;
    right: 0;
    z-index: -5;
    width: 40vw;
    height: 150vh;;
}

header {
    nav {
        width: 100%;
        
        ul {
            width: 70%;
            list-style-type: none;
            padding: 2rem;

            display: flex;
            justify-content: space-around;

            li {
                font-size: 1.5rem;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}


main {
    display: flex;
    flex-wrap: wrap;

    section.left {
        flex: 5 1 800px;
        padding: 0.5rem 2rem 2.5rem 1.5rem;

        h1 {
            font-size: 3rem;
            color: #E59700;
        }

        p.girl {
            font-size: 1.25rem;
            padding: 4rem 0rem 1rem 0rem;
        }

        p {
            font-size: 1.25rem;
            padding: 1rem 0rem;
        }
    }


    section.right {
        flex: 1 1 500px;
        position: relative;

        img {
            border-radius: 50%;
            width: 20vw;
            height: 20vw;
            position: absolute;
            top: 3vh;
            right: 13vw;
            transform: translateY(8%);
        }

        div.box1 {
            background-color: #E1FDFF;
            width: 20vw;
            height: 4vw;
            position: absolute;
            bottom: 30px;
            left: 40px;
        }

        div.box2 {
            background-color: #8CD9DE;
            width: 20vw;
            height: 4vw;
            position: absolute;
            z-index: -2;
            bottom: 8px;
            left: 105px;
        }
    }



    /* 第二頁的 CSS 屬性設定 */
    section.table {
        flex: 3 1 800px;
        padding: 1rem 2rem;

        table {
            border-collapse: collapse;
            tr {
                // border-bottom: 1.5px solid #D2D1D1;
                // 這邊因為不是每一行都有 border-bottom，因此我寫在行內裡
                transition: all 0.2s ease;
                td {
                    padding: 0.5rem;
                    ul {
                        li {
                            list-style-type: none;
                        }
                    }

                    img {
                        width: 6vw;
                        height: 6vw;
                    }
                }

                &:hover {
                    background-color: #fde9c1;
                }
            }
        }
        
    }

    section.picture {
        flex: 1 1 600px;
        position: relative;

        img {
            width: 30vw;
        }

        div.yellowRect {
            width: 30vw;
            height: 65vh;
            background-color: #f8d287;
            position: absolute;
            top: 25px;
            left: 40px;
            z-index: -2;
        }
    }



    /* 第三頁的 CSS 屬性設定 */
    section.form {
        flex: 1 1 650px;
        padding-top: 1.5rem;
        form {
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            //justify-content: space-around;
            align-items: center;
            
            div {
                width: 70%;
                display: flex;
                margin: 0.5rem;
                justify-content: space-between;


                label {
                    font-size: 1.15rem;
                    color: #FFA800;
                    margin-right: 1.25rem;
                }
                input,textarea {
                    background-color: #F1F1F1;
                    color: black;
                    font-size: 1rem;
                    border: none;
                    padding: 0.5rem;
                    //min-width: 35vh;
                    width: 80%;
                }

            }
            button {
                align-self: center;
                padding: 0.5rem 1rem;
                font-size: 1.25rem;
                border: none;
                border-radius: 8px;
                background-color:  #e2e0e0;
                cursor: pointer;
                margin-top: 1rem;
            }
        }
    }

    div.line {
        background-color: #D2D1D1;
        width: 2px;
        margin-right: 4rem;
    }

    section.contact {
        padding-top: 1.5rem;
        flex: 1 1 650px;
        display: flex;
        
        div.contentTitle {
            h3 {
                color: #FFA800;
                padding: 1rem;
                margin: 1rem 0.5rem;
            }
        }
        
        div.myContent {
            h3 {
                padding: 1rem;
                margin: 1rem 0.5rem;
            }
            img {
                width: 3vw;
                height: 3vw;
                margin: 1rem 0.5rem;
            }
        }
        
    }
}

.active {
    color: #FAA500;
}


footer {
    padding: 0rem 0rem 0rem 2rem;
    
    /* 第二頁的 footer 樣式，寫於行內*/
    // 1rem 10rem 0rem 0rem
    // display: flex;
    // justify-content: flex-end;

    a {
        padding: 0rem 0.25rem;
    }

    img {
        width: 3vw;
        height: 3vw;
    }
}



/* 以下是動畫的效果設定 */
@media screen and (max-width: 1300px) {
    .yellow {
        opacity: 0.3;
    }

    header {
        nav {
            ul {
                flex-direction: column;
                width: 100%;

                li {
                    padding: 1rem 0rem;
                    border-bottom: 1px solid lightslategrey;
                }
            }
        }
    }


    main {
        section.right {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: static;
                transform: none;
                width: 40vw;
                height: 40vw;
            }
        }

        section.picture {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60vw;
            }
            div.yellowRect {
                display: none;
            }
        }

        div.line {
            width: 0px;
        }

        section.contact {
            display: flex;
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 2.5rem 0rem 1rem 0rem;
        img {
            width: 6vw;
            height: 6vw;
        }
    }
}